{"filter":false,"title":"requirements.txt","tooltip":"/pset7/finance/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"419d523b2d9882021261458aa9b9fe7ae5111efa","undoManager":{"mark":-1,"position":-1,"stack":[]},"timestamp":1508984587000}