{"filter":false,"title":"requirements.txt","tooltip":"/pset6/similarities/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":5},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1508502111000,"hash":"57a13c30345d749144c82038e8f12e62ebfa9c41"}